<mat-tab-group>
    <mat-tab label="Идеи" id="ideas_tab">
        <div class="desktop_content">
            <div class="example-card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon matTooltip="Не одобряю">thumb_down</mat-icon>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="example-container">
                            <div cdkDropList #badIdeas="cdkDropList" [cdkDropListData]="bad_ideas"
                                [cdkDropListConnectedTo]="[goodIdeas, uninterestingIdeas]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of bad_ideas" cdkDrag>
                                    {{ item }}
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon svgIcon="boring" matTooltip="Неинтересно"></mat-icon>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="example-container">
                            <div cdkDropList #uninterestingIdeas="cdkDropList" [cdkDropListData]="uninteresting_ideas"
                                [cdkDropListConnectedTo]="[badIdeas, goodIdeas]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of uninteresting_ideas" cdkDrag>
                                    {{ item }}
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>


            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon matTooltip="Идеи к оценке">thumbs_up_down</mat-icon>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="example-container">
                        <div cdkDropList #ideasForEstimation="cdkDropList" [cdkDropListData]="ideas_for_estimation"
                            [cdkDropListConnectedTo]="[badIdeas, goodIdeas, uninterestingIdeas]" class="example-list"
                            (cdkDropListDropped)="drop($event)">
                            <div class="example-box" *ngFor="let item of ideas_for_estimation" cdkDrag>
                                {{ item }}
                            </div>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

            <div class="example-card">
                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon matTooltip="Одобряю">thumb_up</mat-icon>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="example-container">
                            <div cdkDropList #goodIdeas="cdkDropList" [cdkDropListData]="good_ideas"
                                [cdkDropListConnectedTo]="[badIdeas, uninterestingIdeas]" class="example-list"
                                (cdkDropListDropped)="drop($event)">
                                <div class="example-box" *ngFor="let item of good_ideas" cdkDrag>
                                    {{ item }}
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <mat-card class="example-card">
                    <mat-card-header>
                        <mat-card-title>
                            <mat-icon svgIcon="libra" matTooltip="Допуск" style="width: 48px; height: 48px;"></mat-icon>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div *ngFor="let item of ideas_for_judge">
                            {{ item }}
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

        <div class="mobile_content">
            <div class="example-container" id="bim" style="display: none;">
                <mat-icon matTooltip="Не одобряю">thumb_down</mat-icon>
                <div cdkDropList #badIdeasMobile="cdkDropList" [cdkDropListData]="bad_ideas"
                    [cdkDropListConnectedTo]="[goodIdeasMobile, uninterestingIdeasMobile]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of bad_ideas" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>
            <div class="example-container" id="uim" style="display: none;">
                <mat-icon svgIcon="boring" matTooltip="Неинтересно"></mat-icon>
                <div cdkDropList #uninterestingIdeasMobile="cdkDropList" [cdkDropListData]="uninteresting_ideas"
                    [cdkDropListConnectedTo]="[badIdeasMobile, goodIdeasMobile]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of uninteresting_ideas" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>
            <div class="example-container" id="ifem" style="display: none;">
                <mat-icon matTooltip="Идеи к оценке">thumbs_up_down</mat-icon>
                <div cdkDropList #ideasForEstimationMobile="cdkDropList" [cdkDropListData]="ideas_for_estimation"
                    [cdkDropListConnectedTo]="[badIdeasMobile, goodIdeasMobile, uninterestingIdeasMobile]"
                    class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of ideas_for_estimation" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>
            <div class="example-container" id="gim" style="display: none;">
                <mat-icon matTooltip="Одобряю">thumb_up</mat-icon>
                <div cdkDropList #goodIdeasMobile="cdkDropList" [cdkDropListData]="good_ideas"
                    [cdkDropListConnectedTo]="[badIdeasMobile, uninterestingIdeasMobile]" class="example-list"
                    (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let item of good_ideas" cdkDrag>
                        {{ item }}
                    </div>
                </div>
            </div>
            <div class="example-container" id="ifjm">
                <mat-icon svgIcon="libra" matTooltip="Допуск" style="width: 48px; height: 48px;"></mat-icon>
                <div *ngFor="let item of ideas_for_judge">
                    {{ item }}
                </div>
            </div>
        </div>
        <mat-toolbar class="mobile_nav" color="primary">
            <button mat-button style="flex: 1;" (click)="mobileNavToBadIdeas()">
                <mat-icon>thumb_down</mat-icon>
            </button>
            <button mat-button style="flex: 1;" (click)="mobileNavToGoodIdeas()">
                <mat-icon>thumb_up</mat-icon>
            </button>
            <button mat-button style="flex: 1;" (click)="mobileNavToIdeasForEstimation()">
                <mat-icon>thumbs_up_down</mat-icon>
            </button>
            <button mat-button style="flex: 1;" (click)="mobileNavToUninteresingIdeas()">
                <mat-icon svgIcon="boring" matTooltip="Неинтересно"></mat-icon>
            </button>
            <button mat-button style="flex: 1;" (click)="mobileNavToIdeasForJudge()">
                <mat-icon svgIcon="libra" matTooltip="Допуск" style="width: 48px; height: 48px;"></mat-icon>
            </button>
        </mat-toolbar>

    </mat-tab>

    <mat-tab label="Партии">
        <app-party-list></app-party-list>
    </mat-tab>
    <mat-tab label="Карта"> Карта </mat-tab>
    <mat-tab label="Мои идеи">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>
                    <h2>Мои идеи</h2>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div *ngFor="let item of my_ideas">
                    {{ item }}
                </div>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>