/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
}

.mat-tab-body-content {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden !important;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.mat-tab-body-wrapper {
  flex: 1;
}

.mat-card-content {
  display: flex !important;
  flex-direction: column;
  flex: 1;
}

/*.zone-inputs,*/
.ngx-mat-color-collection {
  display: none !important;
}

.mobile_nav,
.mobile_content {
  display: flex !important;
}

.desktop_nav,
.desktop_content {
  display: none !important;
}

@media only screen and (min-width: 600px) {
  .mobile_nav,
  .mobile_content {
    display: none !important;
  }
  .desktop_nav,
  .desktop_content {
    display: flex !important;
  }
}
